<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Explorer"
            icon="icons/Windows_Explorer_Icon_16x16.png"
            class="com.github.culmat.eexplorer.views.ExplorerView"
            id="com.github.culmat.eexplore.views.ExplorerView">
      </view>
   </extension>
    <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <showInPart
               id="com.github.culmat.eexplore.views.ExplorerView">
         </showInPart>
      </perspectiveExtension>
   </extension>
      <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.github.culmat.eexplorer.cmd.back"
            contextId="com.github.culmat.eexplorer.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+ARROW_LEFT">
      </key>
       <key
            commandId="com.github.culmat.eexplorer.cmd.forward"
            contextId="com.github.culmat.eexplorer.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+ARROW_RIGHT">
      </key>
       <key
            commandId="com.github.culmat.eexplorer.cmd.up"
            contextId="com.github.culmat.eexplorer.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+ARROW_UP">
      </key>
       <key
            commandId="com.github.culmat.eexplorer.cmd.copy"
            contextId="com.github.culmat.eexplorer.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+C">
      </key>
       <key
            commandId="com.github.culmat.eexplorer.cmd.paste"
            contextId="com.github.culmat.eexplorer.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+V">
      </key>
       <key
            commandId="com.github.culmat.eexplorer.cmd.open_native_explorer_window"
            contextId="com.github.culmat.eexplorer.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+O">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.github.culmat.eexplorer.cmd"
            name="eExplorer Commands">
      </category>
      <command
            categoryId="com.github.culmat.eexplorer.cmd"
            id="com.github.culmat.eexplorer.cmd.back"
            name="Back">
      </command>
      <command
            categoryId="com.github.culmat.eexplorer.cmd"
            id="com.github.culmat.eexplorer.cmd.forward"
            name="Forward">
      </command>
      <command
            categoryId="com.github.culmat.eexplorer.cmd"
            id="com.github.culmat.eexplorer.cmd.up"
            name="Up">
      </command>
      <command
            categoryId="com.github.culmat.eexplorer.cmd"
            id="com.github.culmat.eexplorer.cmd.copy"
            name="Copy">
      </command>
      <command
            categoryId="com.github.culmat.eexplorer.cmd"
            id="com.github.culmat.eexplorer.cmd.paste"
            name="Paste">
      </command>
      <command
            categoryId="com.github.culmat.eexplorer.cmd"
            id="com.github.culmat.eexplorer.cmd.open_native_explorer_window"
            name="Open native explorer window">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.github.culmat.eexplorer.context"
            name="eExplorer"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
</plugin>
